.jumbotron {
    background-color: black;
    margin: 0;
    padding: 20px;
}

/*.navbar {
    background-color: black;
}*/

.icon {
    height: 110px;
    background: url("/src/Icon-Background.png");
}

.navbar {
    height: 80px;
    background-color: black;
    /*background: url("/src/Icon-Background.png");*/
}

.site-footer {
    height: 240px;
    background-color: black;
    /*background: url("/src/Icon-Background.png");*/
}

.boardMember {
    width: 18rem;
}